* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    background-color: #b6e0d9;
    color: #333;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.tex-center {
    text-align: center;
}

.hidden {
    display: none;
}

h1 {
    font-size: 23px;
    text-transform: uppercase;
    color: #70c2b6;
    padding-bottom: 30px;
}

/* Container */

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 40px;
}


/* Button */

.btn {
    font-size: 30px;
    padding: 2px 0;
    text-align: center;
    border: 2px solid #70c2b6;
    margin-bottom: 10px;
    text-decoration: none;
    color: #70c2b6;
    background-color: white;
    width: 200px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #64d3c3;
    transition: transform 150ms;
}

.btn:disabled:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Form end page */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#finalScore {
    text-align: center;
    font-size: 40px;
}

input {
    margin-bottom: 15px;
    width: 200px;
    padding: 10px;
    font-size: 18px;
    border: none;
}

/* Score page */

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.high-score {
    font-size: 20px;
    margin-bottom: 10px;
}

.high-score:hover {
    transform: scale(1.05);
}
